@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root {
    --main-color: #0C134F;
    --primary-color: #1D267D;
    --sub-color: #5C469C; 
    --text-color: #D4ADFC;
    --main-font: 'Poppins', sans-serif;
}

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
 }

 body {
    height: 1000px;
    font-family: var(--main-font);
    background-color: var(--main-color);
    color: var(--text-color);
 }

 .wrap {
    width: 100%;
    height: 100%;
 }

 .navbar {
    position: relative;
    z-index: 100;
    height: auto;
    width: 100%;
    padding: .8rem 0;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
 }

.navbox {
    padding: 0 .5rem;
    display: flex;
    font-size: 1rem;
    align-items: center;
}
.logo p {
    text-align: center;
    width: 6.5rem;
}
.navbox p {
    padding: 0 .4rem;
}
.nav-links {
    display: flex;
    transition: top 300ms ease-in-out;
    padding: 0;
}
.nav-links p {
    text-align: center;
    cursor: pointer;
    border-radius: 30px;
    width: 6rem;
    height: auto;
    transition: background-color 0.3s ease-in-out;
}
.nav-links p:hover {
    background-color: #5C469C;
}
.buttons {
    gap: .7rem;
}
#bars-menu {
    position: relative;
    right: -50px;
    font-size: 1.2rem;
    transition: right .5s ease;
}
.navbox .btn {
    position: relative;
    right: -27px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 5rem;
    border-radius: 40px;
    cursor: pointer;
    background-color: var(--sub-color);
    transition: right .4s ease;
}

/* <---------MENU CONTENT---------> */

.menu-content {
    z-index: 0;
    position: absolute;
    right: 0;
    top: -12rem;
    width: 12rem;
    background-color: red;
    transition: all 0.5s;
}
.menu-content p {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0;
    background-color: var(--sub-color);
    
}
.menu-content p:nth-child(2){
    border-top: 2px solid #384088;
    border-bottom: 2px solid #384088;
}

/* <---------MENU CONTENT---------> */



 /* <------------MEDIA QUERY------------> */
 @media all and (max-width: 600px) {
    #bars-menu {
        display: flex;
        right: 0;
    }
    .navbox .btn {
        right: 0;
    }
    .nav-links {
        position: absolute;
        display: none;
    }
 }

 @media all and (min-width: 1000px) {
    .nav-links {
        gap: 5em;
    }
    .nav-links p {
        width: 8rem;
    }
 }

 /* <------------MEDIA QUERY------------> */

 .active {
    top: 3.2rem;
}